.widget {
	margin: 0 0 40px;
	&.filled {
		border-width: 0;
	}
	
	/* Make sure select elements fit in widgets. */
	select {
		width: 100%;
	}
	
	input,
	select,
	textarea {
		padding: 10px 20px;
		border: 1px solid $color__light;
	}
	
	ul,
	ol {
		margin-bottom: 0;
	}
	
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		
		li {
			list-style: none;
			margin-bottom: 0;
			padding: 5px 0;
			
			a {
				color: $color__darker;
				
				&:hover {
					color: $color__primary;
				}
			}
		}
		
		.children,
		.sub-menu {
			margin-top: 10px;
			margin-left: 15px;
			
			li {
				a {
					padding-left: 10px;
				}
				
				&:last-child {
					padding-bottom: 0;
					border-bottom: none;
				}
			}
		}
	}
	
	ol {
		padding-left: 16px;
	}
	
	li {
		padding: 10px 0;
	}
	
	th,
	td {
		border-color: $color__light;
	}
	
	.tagcloud {
		margin: -5px;
		
		a {
			color: $color__gray;
			font-size: 12px !important;
			margin: 5px 3px 4px 3px;
			padding: 7px 15px;
			display: inline-block;
			vertical-align: middle;
			border: 1px solid $color__lighter;
			background-color: transparent;
			transition: all 0.5s;
			
			&:hover {
				color: #fff;
				background-color: $color__dark;
			}
		}
	}
	
	.mc4wp-form {
		@include font-size(14/16);
		
		.mc4wp-form-fields {
			> :first-child {
				margin-top: 0;
			}
		}
		
		input,
		select,
		textarea,
		button {
			@include font-size(1);
			width: 100%;
			min-width: 0;
			padding: 17px 20px 18px 20px;
			margin-top: 20px;
		}
		
		input,
		select {
			height: 60px;
			margin-right: 0;
		}
		
		input[type=submit],
		input[type=reset],
		button {
			padding: 0 20px;
		}
		
		input[type=checkbox],
		input[type=radio] {
			padding: 0;
			width: auto;
			height: auto;
			margin: 0 5px 0 0;
		}
		
		p:last-of-type {
			margin-bottom: 0;
		}
	}
}

.widget-title {
	@include font-size(1);
	font-weight: 600;
	text-transform: uppercase;
	line-height: (30/16);
	margin: 0;
	padding: 0 0 13px;
}

.search-form {
	position: relative;
	border: 1px solid #d9d9d9;
	color: $color__darker;
	
	&:after {
		display: inline-block;
		font: normal normal normal 14px/1 fontawesome;
		content: "\f002";
		position: absolute;
		top: 50%;
		right: 17px;
		transform: translateY(-50%);
		font-size: 18px;
		color: #d9d9d9;
	}
	label {
		margin-bottom: 0;
	}
	
	.screen-reader-text {
		display: none;
	}
	label {
		width: 100%;
	}
	.search-field {
		border: none;
		color: $color__darker;
		width: 100%;
		background-color: transparent;
		font-weight: 400;
		
		&:focus {
			border: none;
			outline: none;
		}
	}
	
	::-webkit-input-placeholder {
		color: #999;
	}
	
	:-moz-placeholder {
		color: #999;
	}
	
	::-moz-placeholder {
		color: #999;
	}
	
	:-ms-input-placeholder {
		color: #999;
	}
	
	.search-submit {
		width: 40px;
		height: 40px;
		background: transparent;
		position: absolute;
		top: 50%;
		right: 5px;
		transform: translateY(-50%);
		border: none;
		text-indent: -9999px;
		z-index: 10;
	}
}

.widget_archive,
.widget_categories {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		
		ul {
			padding-left: 20px;
			margin-top: 10px;
			border-top: 1px solid $color__lighter;
			
			li:last-child {
				padding-bottom: 0;
			}
		}
	}
	
	li {
		padding: 10px 0;
		border-bottom: 1px solid $color__lighter;
		
		&:last-child {
			border-bottom: 0;
		}
		
		.posts-count {
			@include font-size(12/16);
			color: $color__gray;
			float: right;
			margin-top: 5px;
		}
	}
}